/*
This CSS initially used from: 
https://www.electrictoolbox.com/basic-3-column-fixed-width-css-layout/

But it's been pretty hacked through :-) 
*/
.fa-fw{
    padding: 1px;
  }

#container {
    width: 1200px;
    border: 1px;
    border-style: solid;

}

#left {
    float: left;
    width: 210px;
    height: 650px;
    border-right-style: solid;
    border-right-width: 1px;
    padding:5px;
    margin-right: 5px;
}


#main_map {
    margin-top: 2px;
   padding: 0 210px 0 160px;
}

#right {
    float: right;
    width: 200px;
    height: 650px;
    border-left-style: solid;
    border-left-width: 1px;
    padding:5px;
}

#header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding:5px;
}    



.clear {
    clear: both;
}

#footer {
    border-top-width: 1px;
    border-top-style: solid;
    padding:5px;
}
/* the alert box was taken from: 
https://www.w3schools.com/howto/howto_js_alert.asp
I have modified it. 
*/

/* The alert message box */
.alert {
    border-radius: 25px;
    padding: 9px;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: #721c24;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}
