/*
Layout
*/
html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    flex-direction: column;

    height: 650px;
    width: 80%;
    
    padding: 20px 25px;

    border: 1px solid black;

    background-color: white;
}

.game-board {
    display: flex;
    flex-direction: row;

    height: 610px;
    width: 100%;
}

.game-board > * {
    display: flex;
    flex-direction: column;

    /* Do not know why the height is this exact number, it just happens to work */
    height: 592px;
    width: 100%;

    margin: -1px 0 0 -1px;
    padding: 2px;

    border: 1px solid black;
    border-collapse: collapse;
}

.game-board > *:not(#map) {
    padding: 10px;

    overflow-y: scroll;
}

#map {
    flex-direction: column-reverse;

    border-width: 5px;

    height: 600px;
    width: 600px;
}

.footer {
    height: 40px;
}

/*
Map
*/

.map-row {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
    width: 100%;
}

.map-loc {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    margin: 1px;

    overflow: hidden;
}