/*
This CSS initially used from: 
https://www.electrictoolbox.com/basic-3-column-fixed-width-css-layout/

But it's been pretty hacked through :-) 
*/
.fa-fw{
    padding: 1px;
  }

#container {
    width: 1200px;
    border: 1px;
    border-style: solid;

}

#left {
    float: left;
    width: 210px;
    height: 650px;
    border-right-style: solid;
    border-right-width: 1px;
    padding:5px;
    margin-right: 5px;
    font-size: small;
}


#main_map {
    margin-top: 2px;
    text-align: center;

    display: flex;
    flex-direction: column-reverse;
}

#stats_and_inventory_block {
    float: right;
    width: 200px;
    height: 650px;
    border-left-style: solid;
    border-left-width: 1px;
    padding:5px;
    font-size: small;
}

#stats_and_inventory_block strong {
    text-decoration: underline;
}

.category {
    border-width: 1px;
    border-style: solid;
    padding:2px;
}  

.combat_header {
    border-width: 1px;
    border-style: solid;
    padding:2px;
    /* position: absolute;
    /* right: 850px;
    width: 575px; */
}  


#header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding:5px;
}    



.clear {
    clear: both;
}

#footer {
    border-top-width: 1px;
    border-top-style: solid;
    padding:5px;
}
/* the alert box was taken from: 
https://www.w3schools.com/howto/howto_js_alert.asp
I have modified it. 
*/

/* The alert message box */
.alert {
    border-radius: 25px;
    padding: 9px;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    margin-bottom: 15px;
}

.information {
    border-radius: 25px;
    padding: 9px;
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
    margin-bottom: 15px;
}



/* The close button */
.closebtn {
    margin-left: 15px;
    color: #721c24;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}



/*
Map classes
*/
.map-row {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
}

.map-loc {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    margin: 1px;

    overflow: hidden;
}